<div class="container">
  <div class="myinfo" ng-if="myInfoCtrl.signedUp">
      <h2 id="menu-categories-title">My Info</h2><br>
    <div class="row">
      <div class="col-md-12">
        <table>
          <tr>
            <th>  First Name: </th>
            <td> {{ myInfoCtrl.fname }} </td>
          <tr>
          <tr>
            <th>  Last Name: </th> <td> {{ myInfoCtrl.lname }} </td>
          </tr>
          <tr>
            <th>  Email: </th> <td> {{ myInfoCtrl.email }}</td>
          </tr>
          <tr>
            <th>  Phone: </th> <td>{{ myInfoCtrl.phone }}</td>
          </tr>
          <tr>
            <th>  Favorite Dish: </th><td> {{ myInfoCtrl.favmenu }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <h2 id="menu-categories-title">Favourite Dish</h2><br>
      <div class="myinfo-dish">
        <menu-item menu-item="myInfoCtrl.favoriteMenuItem"></menu-item>
        <div ng-show="!myInfoCtrl.favoriteMenuItem">
          You entered invalid shortname for favourite dish!
        </div>
      </div>
    </div>
  </div>
    <div class="myinfo-alert">
      <div class="alert alert-warning" ng-if="!myInfoCtrl.signedUp">
          <h2>Not Signed Up Yet.</h2>
          <button type="button" ui-sref="public.signup" class="btn btn-primary">Sign up Now!</button>
      </div>
    </div>
  </div>
