<h2 id="menu-categories-title" class="text-center">My Info</h2>


<div class="myinfo" ng-if="myInfoCtrl.completed">
  <div class="container">
      First Name:{{ myInfoCtrl.userInfo.fname }}
      Last Name:{{ myInfoCtrl.userInfo.lname }}
      Email:{{ myInfoCtrl.userInfo.email }}
      Phone:{{ myInfoCtrl.userInfo.phone }}
      Favorite Dish:{{ myInfoCtrl.userInfo.favmenu }}
    </dl>
  </div>
  <div class="myinfo-dish">
    <menu-item menu-item="myInfoCtrl.userInfo.MenuItem"></menu-item>
  </div>
</div>

<div class="myinfo-alert">
  <div class="alert alert-warning" ng-if="!myInfoCtrl.completed">
      <h2>Not Signed Up Yet.</h2>
      <button type="button" ui-sref="public.signup" class="btn btn-primary">Sign up Now!</button>
  </div>
</div>
